workflows/export/WF-01-lead-enrichment.json
{
  "id": "7f3c8a2e-1b4d-4e9a-9c6f-2d8e5a1b3c7d",
  "name": "WF-01 Lead Enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "a1b2c3d4-e5f6-7890-abcd-ef1234567891"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "request_id",
              "value": "={{ $json.request_id || $uuid() }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "name",
              "value": "={{ $json.body?.name ?? $json.name }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "phone",
              "value": "={{ $json.body?.phone ?? $json.phone }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "email",
              "value": "={{ $json.body?.email ?? $json.email }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "website",
              "value": "={{ $json.body?.website ?? $json.website ?? '' }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "comment",
              "value": "={{ $json.body?.comment ?? $json.comment ?? '' }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "utm_source",
              "value": "={{ $json.body?.utm_source ?? $json.utm_source ?? 'n8n' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678902",
      "name": "Set Request ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-enricher:8080/enrich-lead",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ request_id: $json.request_id, name: $json.name, phone: $json.phone, email: $json.email, website: $json.website || undefined, comment: $json.comment || undefined, utm_source: $json.utm_source }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789003",
      "name": "Enrich Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://lead-enricher:8080/mock-crm/leads",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.crm_payload.name, phone: $json.crm_payload.phone, email: $json.crm_payload.email, tags: $json.crm_payload.tags, custom_fields: $json.crm_payload.custom_fields, tier: $json.lead_qualification.tier, source_request_id: $json.request_id }) }}",
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890004",
      "name": "Mock CRM Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, tier: $('Enrich Lead').item.json.lead_qualification.tier, enrich_status: $('Enrich Lead').item.json.enrich_status }) }}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678900005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1220, 300]
    },
    {
      "parameters": {
        "content": "## WF-01 Lead Enrichment\n\n1. Webhook receives lead\n2. Enrich via FastAPI + Ollama\n3. Create in Mock CRM\n4. Respond OK immediately\n\nWebhook URL (after Activate):\nhttp://localhost:15678/webhook/new-lead",
        "height": 220,
        "width": 340
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789000006",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 80]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Request ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Request ID": {
      "main": [
        [
          {
            "node": "Enrich Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead": {
      "main": [
        [
          {
            "node": "Mock CRM Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock CRM Create": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v1-lead-enrichment-001",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "tags": []
}
